
.btn-primary {
  padding-left: 12px; /* is only for padding within div - want it in the div really*/
  background-color: #00a65a;
  border-color: #00a65a; /* might want to change from red #dd4b39 */
}
.shiny-input-panel {

  /* for red headers eg climate */
  background-color: #dd4b39;
  border-color: #fff;  
  
}

/* need to make viewable */
#downloads {
     background: rgb(221, 75, 57);  /*Fall-back for browsers that don't
                                    support rgba */
    background: rgba(221, 75, 57, .5);
   
}
